[submodule "libs/units"]
	path = libs/units
	url = https://github.com/GrappleLabs/Units.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest
[submodule "libs/blaze"]
	path = libs/blaze
	url = https://bitbucket.org/blaze-lib/blaze.git
