[submodule "libs/units"]
	path = libs/units
	url = https://github.com/GrappleLabs/Units.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest
[submodule "libs/eigen"]
	path = libs/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
